<footer class="shadow-z-1">
    <div class="row row-nomargin">
        <div class="col-sm-8 col-md-8 col-sm-offset-3 col-md-offset-3 col-full-height">
            Автор первоначального текста большинства уроков, задач и тестов: <a href="http://vk.com/dkirienko">Д. П. Кириенко</a> (см. <a href="http://informatics.mccme.ru/moodle/course/view.php?id=156">оригинальный курс</a>)
            <br>
            Идея учебника и техническая помощь: <a href="http://vk.com/gurovic">В. М. Гуровиц</a>
            <br>
            Разработчик визуализатора: <a href="http://www.pgbovine.net/">Philip Guo</a> (см. <a href="http://www.pythontutor.com">сайт визуализатора</a>)
            <br>
            Разработка и поддержка учебника: <a href="https://github.com/vpavlenko">Виталий Павленко</a>, <a href="https://github.com/leenr">Владимир Соломатин</a>
            <br>
            <a href="https://github.com/vpavlenko/pythontutor-ru">Репозиторий проекта на Гитхабе</a>
            <br>
            &copy; 2012&ndash;2014
        </div>
    </div>
</footer>
