{% extends 'base_with_sidebar.html' %}

{% load markdown %}
{% load staticfiles %}

{% block extrahead %}
    {{ block.super }}

    <script src="{% static 'js/ace-editor/ace.js' %}"></script>
    <script src="{% static 'js/jquery.jsPlumb-1.6.4-min.js' %}"></script>
    <script src="{% static 'js/visualizer.js' %}"></script>
    <script src="{% static 'js/lesson.js' %}"></script>

    <style>
        :not(pre) > code {
            white-space: nowrap;
        }

        #content table {
            border: 1px;
        }

        .nav-sidebar-problems {
            padding-left: 40px !important;
        }

        ul.nav-sidebar-problems {
            display: none;
        }
    </style>

    <script>
        $(document).ready(function() {
            $('a.nav-sidebar-problems').click(function() {
                $(this).parent().children('ul.nav-sidebar-problems').toggle(300);
            });
        });
    </script>
{% endblock %}

{% block sidebar %}
    <ul class="nav nav-sidebar">
        {% for other_lesson in lesson.course.lessons.all %}
            <li>
                <a href="{% url 'lesson' lesson.course.slug other_lesson.slug %}">{{ other_lesson.order }}. {{ other_lesson.name }}</a>
                {% if lesson == other_lesson and lesson.problems.all %}
                    <a href="javascript:void(0)" class="nav-sidebar-problems">Задачи</a>
                    <ul class="nav nav-sidebar-problems">
                        {% for problem in lesson.problems.all %}
                            <!-- TODO show active -->
                            <li><a href="{% url 'problem' lesson.course.slug lesson.slug problem.slug %}">{{ problem.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block content %}
    <h1>{{ lesson.name }}</h1>

    {{ lesson.contents|markdownify_toc|safe }}
{% endblock %}
