{% extends 'base_with_sidebar.html' %}

{% load markdown %}
{% load staticfiles %}

{% block extrahead %}
    {{ block.super }}

    <script src="{% static 'js/ace-editor/ace.js' %}"></script>
    <script src="{% static 'js/jquery.jsPlumb-1.6.4-min.js' %}"></script>
    <script src="{% static 'js/visualizer.js' %}"></script>
    <script src="{% static 'js/lesson.js' %}"></script>

    <style>
        :not(pre) > code {
            white-space: nowrap;
        }

        #content table {
            border: 1px;
        }

        .nav-sidebar-problems {
            padding-left: 40px !important;
        }
    </style>
{% endblock %}

{% block sidebar %}
    <ul class="nav nav-sidebar">
        {% for other_lesson in lesson.course.lessons.all %}
            <li>
                <a href="{% url 'lesson' lesson.course.slug other_lesson.slug %}">{{ other_lesson.order }}. {{ other_lesson.name }}</a>
                {% if lesson == other_lesson and lesson.problems.all %}
                    <a href="#problems" class="nav-sidebar-problems">Задачи</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block content %}
    <h1>{{ lesson.name }}</h1>

    {{ lesson.contents|markdownify_toc|safe }}

    {% with lesson.problems.all as lesson_problems %}
        {% if lesson_problems %}
            <br />
            <a name="problems"></a>
            <table class="table table-striped table-hover">
                <tr>
                    <th><h3 style="margin: 0px;">Задачи</h3></th>
                </tr>
                {% for problem in lesson_problems %}
                    <tr>
                        <td><a href="{% url 'problem' lesson.course.slug lesson.slug problem.slug %}">{{ problem.name }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endwith %}
{% endblock %}
